{{!--

  advanced_search - Full, server-side search
  ==========================================

--}}
<form action="/search" class="search-form ajaxsearch">
  <label>Keyword
    <input name="q" type="text" placeholder="Enter keyword (searches title, description, url)" class="width-100" autofocus value="{{query.q}}">
  </label>
  <label>Hostname
    <input name="hostname" type="text" placeholder="example.com" class="width-100" value="{{query.hostname}}" list="hostnames">
  </label>
  <datalist id="hostnames">
    {{#hostnames}}
      <option value="{{.}}">
    {{/hostnames}}
  </datalist>
  <div class="actions">
    <button class="search btn btn-green">Search</button>
    <a class="clear btn btn-gray" href="/search">Clear</a>
  </div>
</form>