{{!--

  bookmark_detail — Render the full details for a single bookmark
  ========================================================
  The 'bookmark_detail' template renders the complete details for a bookmark. It
  makes use of the following context variable:

  - `bookmark` : A Bookmark object containing the following properties:

                 - `href`   : A String containing a fully-qualified URL to the
                                bookmarked document or resource.
                  - `title` : A String containing a title, headline, or name of
                                the resource at the destination url.
                  - `_id`    : A String containing the internal identifier for
                                the bookmark object.
                  - `description` : A String containing a brief description of
                                the bookmarked resource (optional).
--}}
<!-- Render the full details for a single bookmark -->
<article class="bookmark">
    <h1><a class="bookmark external" href="{{href}}" title="{{title}}">{{title}}</a></h1>
    <h2><small>{{create_date}}</small></h2>
    {{#if description}}
    <!-- htmlmin:ignore -->
    <p class="description pre-wrap">{{description}}</p>
    <!-- htmlmin:ignore -->
    {{/if}}
    <p class="collections">
    {{#collection_list}}
      {{#if selected}}
        <a class="btn smaller btn-blue btn-round btn-outline" href="/collections/{{path}}">{{name}}</a>
      {{/if}}
    {{/collection_list}}
    </p>
    <p class="edit"><a class="btn" href="/bookmarks/{{_id}}/edit/">Edit</a></p>
</article>
