{{!--

  login_form: Render the login form
  =================================

--}}
<form class="login-form" action="/login" method="POST">
    <label>
        Email
        <input type="email" name="username" required placeholder="joe@example.com" title="Please provide a valid email address." class="width-100">
    </label>
    <label>
        Password
        <input type="password" name="password" required title="Please enter your password." class="width-100">
    </label>
    <p>
        <button type="submit" name="action" value="save" class="btn btn-blue">Log In</button>
    </p>
</form>