<article class="bookmark">
    <h1><a class="bookmark" href="{{url}}" title="{{title}}">{{title}}</a></h1>
    {{#if description}}
        <p class="description">{{description}}</p>
    {{/if}}
</article>