{{!--

  bookmark — Render the full details for a single bookmark
  ========================================================
  The 'bookmark' template renders the complete details for a bookmark. It makes
  use of the following context variables:

  - `bookmark` : A Bookmark object containing the following properties:

                  - `_id`   : A String containing the internal identifier for
                                the bookmark object.
                  - `href`  : A String containing a fully-qualified URL to the
                                bookmarked document or resource.
                  - `title` : A String containing a title, headline, or name of
                                the resource at the destination url.
                  - `description` : A String containing a brief description of
                                      the bookmarked resource (optional).
--}}
{{#bookmark}}
  {{> bookmark_detail }}
{{/bookmark}}