{{!--

  bookmark — Render the full details for a single bookmark
  --------------------------------------------------------
  The 'bookmark' template renders the complete details for a bookmark. It makes
  use of the following context variables:

  - `bookmark` : A Bookmark object containing the following properties:

                 - `url`   : A String containing a fully-qualified URL to the
                                bookmarked document or resource.
                  - `title` : A String containing a title, headline, or name of
                                the resource at the destination url.
                  - `id`    : A String containing the internal identifier for
                                the bookmark object.
                  - `description` : A String containing a brief description of
                                the bookmarked resource (optional).
--}}

<nav class="navbar">
    <ul>
        <a href="/" class="back">Back</a>
    </ul>
</nav>

{{> notification_bar }}

{{#bookmark}}
<!-- Render the full details for a single bookmark -->
<article class="bookmark">
    <h1><a class="bookmark external" href="{{url}}" title="{{title}}">{{title}}</a></h1>
    <h2><small>{{create_date}}</small></h2>
    {{#if description}}
    <p class="description">{{description}}</p>
    {{/if}}
    <p class="edit"><a class="btn" href="/bookmarks/{{id}}/edit/">Edit</a></p>
</article>
{{/bookmark}}