{{!--

  collection_edit — Render the edit form for a collection
  =======================================================

--}}
<form class="collection-form" action="" method="POST">
    <label>
        Name
        <input type="text" name="name" value="{{collection.name}}" required autofocus title="The collection name is required." class="width-100">
    </label>
    {{!--
    <label>
        Path
        <input type="text" name="path" value="{{collection.path}}" class="width-100">
    </label>
    --}}
    <label>
        Description (optional)
        <textarea name="description">{{collection.description}}</textarea>
    </label>
    <p>
        <button type="submit" name="action" value="save" class="btn btn-green">Save</button>
        <a class="btn" href="/collections/{{collection.path}}">Cancel</a>
        {{#if bookmark._id}}
            <button type="submit"
                    class="btn btn-red right"
                    name="action"
                    value="delete"
                    onclick="return confirm('Are you sure you want to delete this bookmark?');">Delete</button>
        {{/if}}
    </p>
</form>
