{{!--

  index — Render a list of bookmarks
  ----------------------------------
  The 'index' template renders a brief summary of several bookmarks. It makes
  use of the following context variables:

  - `bookmarks` : An (optional) Array of Bookmark objects containing the
                  following required properties:

                  - `url`   : A String containing a fully-qualified URL to the
                                bookmarked page.
                  - `title` : A String containing a title, headline, or name of
                                the document at the destination url.
                  - `id`    : A String containing the internal identifier for
                                the bookmark.
--}}

<nav class="navbar">
    <ul>
        <h1><a href="/bookmarks/add" class="add">Add</a></h1>
    </ul>
</nav>

{{> notification_bar }}

<p class="quicksearch"><input name="filter" type="text" placeholder="Quick Search" class="width-100" autofocus></p>
<ul class="bookmark-container">
{{#bookmarks}}
    <li class="bookmark">
        <h1>
            <a class="bookmark external" href="{{url}}" title="{{title}}">{{title}}</a>
            <small>(<a class="details" href="/bookmarks/{{id}}" title="{{title}}">details</a>)</small>
        </h1>
    </li>
{{/bookmarks}}
</ul>