{{!--

  index — Render a list of bookmarks
  ----------------------------------
  The 'index' template renders a brief summary of several bookmarks. It makes
  use of the following context variables:

  - `bookmarks` : An (optional) Array of Bookmark objects containing the
                  following required properties:

                  - `url`   : A String containing a fully-qualified URL to the
                                bookmarked page.
                  - `title` : A String containing a title, headline, or name of
                                the document at the destination url.
                  - `id`    : A String containing the internal identifier for
                                the bookmark.

  - `notification` : An (optional) Notification object, whose presence indicates
                     that an error or event has occurred. A Notification
                     contains the following properties:

                     - `message` : A String containing a user-friendly message.
                     - `severity`: A String indicating the type of notification.
                                     This may have any value, but will typically
                                     be one of 'error', 'warn', 'info', or
                                     'affirm'. (optional)
--}}

<nav class="navbar">
    <ul>
        <h1><a href="/bookmarks/add" class="add">Add</a></h1>
    </ul>
</nav>

{{#notification}}
<p class="message {{severity}}">{{message}}</p>
{{/notification}}

<p class="search"><input name="filter" type="text" placeholder="Search" class="width-100" autofocus></p>
<ul class="bookmark-container">
{{#bookmarks}}
    <li class="bookmark">
        <h1>
            <a class="bookmark external" href="{{url}}" title="{{title}}">{{title}}</a>
            <small>(<a class="details" href="/bookmarks/{{id}}" title="{{title}}">details</a>)</small>
        </h1>
    </li>
{{/bookmarks}}
</ul>