header section,
body > main {
    max-width: 720px;
    margin: auto;
    padding: 1em;
}
body > header {
    font-size: 1.1em;
    background-color: #ddd;
}
header .navbar {
    margin-bottom: 0;
}
body,
input,
textarea,
button,
.btn,
h1,
h2,
h3,
h4,
h5 {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
}
a:hover,
.nav a:hover,
.navbar a:hover {
    text-decoration: underline;
    color: #2575ed;
}
a,
a.btn {
    color: #333;
    text-decoration: none;
}
.add:before {
    content: '+ ';
}
.back:before {
    content: 'â† ';
}
.hide {
    display: none;
}
.bookmark-container {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bookmark .description {
    white-space: pre-wrap;
}
.bookmark-form .collections .heading {
    display: block;
}
.bookmark-form .collections label {
  display: inline-block;
  border: 1px solid #fafafa;
  padding: 5px 10px 4px 2px;
  border-radius: 2px;
}
.message {
    padding: .25em .5em;
}
.message.error {
    background-color: #fdd;
    border: 1px solid #fcc;
}
.search-form .actions {
    margin: 1em 0;
    padding-bottom: 1em;
}
form label {
    display: block;
    margin-bottom: 1.1em;
}
footer {
    margin-top: 10em;
}
.navbar .subnav {
  position: relative;
}
.navbar .subnav > ul {
  position: absolute;
  top: 100%;
  z-index: 3;
  display: none;
}
.navbar .subnav li {
  float: none;
  margin: 0;
}
.navbar .subnav li a {
  padding: .1em 1em;
  border-top: 1px solid #eaeaea;
}
.navbar .subnav:hover > ul {
  display: block;
}
.navbar .subnav > ul {
  background-color: #eee;
}
.navbar .subnav:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    display: inline-block;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    width: 0;
    content: "";
}
@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.75em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25;
    }
}