body {
    max-width: 720px;
    margin: auto;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.back:before {
    content: '← ';
}
.bookmark-container {
    list-style: none;
}