body {
    max-width: 720px;
    margin: auto;
}
body,
input,
textarea,
button,
.btn,
h1,
h2,
h3,
h4,
h5 {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a:hover,
.nav a:hover,
.navbar a:hover {
    text-decoration: underline;
    color: #2575ed;
}
a,
a.btn {
    color: #333;
    text-decoration: none;
}
.add:before {
    content: '+ ';
}
.back:before {
    content: '← ';
}
.bookmark-container {
    list-style: none;
}
form label {
    display: block;
    margin-bottom: 1.1em;
}
footer {
    margin-top: 10em;
}